name: Publish Package

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    name: "Publish library"
    strategy:
      matrix:
        python-version: ["3.8"]

    steps:
      - name: Check out
        uses: actions/checkout@v4
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install rye
        uses: eifinger/setup-rye@v1

      - name: Install dependencies
        run: pip install dunamai

      - name: Build package
        run: |
          VERSION=$(dunamai from any --no-metadata --style pep440)
          rye version $VERSION
          rye build

      - name: Release to PyPI
        run: |
          rye publish --token ${{ secrets.PYPI_API_TOKEN }} --yes || \
            echo 'Version exists'