[tool.poetry]
name = "copilib"
version = "0.1.0"
description = "Build smart applications powered Conversational Copilots."
authors = ["Al Wonder <al@yiwonder.com>"]
license = "Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International Public License"
readme = "README.md"
packages = [
    { include = "copilib" },
    { include = "copilib/py.typed" },
    { include = "smartypes" },
    { include = "smartypes/py.typed" }
]

[tool.poetry.dependencies]
python = "^3.10"
openapi = "^1.1.0"
typer = {version = "^0.9.0", extras = ["all"], optional = true}
openai = {version = "^1.12.0", optional = true}

[project.urls]
Homepage = "https://copibooks.com/"
Documentation = "https://docs.copibooks.com/"
Repository = "https://github.com/alywonder/copilib"

[tool.poetry.extras]
all = ["typer", "openai"]
cli = ["typer"]
llm = ["openai"]

# Development dependencies
[tool.poetry.group.dev]
optional = true

# Development dependencies
[tool.poetry.group.dev.dependencies]
pytest = "^8.0.1"
pytest-cov = "^4.1.0"
tox = "^4.13.0"
mypy = "^1.8.0"
ruff = "^0.2.2"

# Documentation dependencies
[tool.poetry.group.docs]
optional = true

# Documentation dependencies
[tool.poetry.group.docs.dependencies]
mkdocs-material = "^9.5.10"
mkdocs-minify-plugin = "^0.8.0"
mkdocstrings = "^0.24.0"
pydocstyle = "^6.3.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

# Tool specific configs


[tool.mypy]
plugins = [
  "pydantic.mypy"
]
exclude = [
    "^test",
    "tests/"
]
strict = true
follow_imports = "silent"
warn_unused_ignores = false
# warn_redundant_casts = true
# disallow_any_generics = true
# check_untyped_defs = true
# no_implicit_reexport = true

# for strict mypy: (this is the tricky one :-))
# disallow_untyped_defs = true

[tool.pydantic-mypy]
init_forbid_extra = true
init_typed = true
warn_required_dynamic_aliases = true

[tool.pytest.ini_options]
#testpaths = ["tests"]

[tool.coverage.report]
omit = [
    "*/tests/*",
    "test_*"
]
exclude_lines = [
    "pragma: no cover",
    "def __repr__",
    "def __str__",
    "if self.debug",
    "if settings.DEBUG",
    "if TYPE_CHECKING",
    "if __name__ == .__main__.:",
    "raise AssertionError",
    "raise NotImplementedError",
    "pass"
]

[tool.ruff]

# Same as Black.
line-length = 88
indent-width = 4

# Assume Python 3.10
target-version = "py310"

[tool.ruff.format]
# Changed to single quotes (default is double)
quote-style = "single"

# Like Black, indent with spaces, rather than tabs.
indent-style = "space"

# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false

# Like Black, automatically detect the appropriate line ending.
line-ending = "auto"