.icon-picker-input {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.icon-picker-select {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    flex-direction: column;
    max-height: 300px;
    overflow: auto;
    z-index: 1000;
    display: none;
}

.icon-picker-input:has(.icon-picker-input-display:focus, .icon-picker-select:hover) .icon-picker-select {
    display: flex;
}

.icon-picker-selected {

}

.icon-picker-select-item {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.icon-picker-select-item:hover {
    background-color: #eee;
}
.icon-picker-select-item-icon {
    flex: 0 0 20px;
    width: 20px;
    height: 100%;
}
.icon-picker-select-item-icon img,
.icon-picker-select-item-icon svg {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.icon-picker-select-item-label {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 20px);
    height: 100%;
}
